/* common style */
.show-container{
  width: 1500px;
  height: 100%;
  background-color: orangered; 
}
/* end common style */
/* header */
.header{
  width: 100%;
  height: 50px;
  background-color: #fff; 
}

/* endheader */

/* banner */
.banner{
  width: 100%;
  height: 500px;
  background-color: #eee; 
}
/* endbanner */

/* content */
.content{
  width: 100%;
  height: 500px;
  background-color: #fff; 
}
/* endcontent */

/* footer */
.footer{
  width: 100%;
  height: 500px;
  background-color: #eee; 
}
/* endfooter */