*{
  padding: 0;
  margin: 0;
}

a, p, h1, h2, h3, h4, h5, h6{
  /* font-family: fantasy; */
  text-decoration: none;
  color: #222;
}

a,a:hover{
  text-decoration: none;
  color: #333;
}
ul{
  list-style: none;
}

/* 通用样式 */
.title-container{
  width: 100%;
  height: 60px;
  padding: 16px 16px 0 16px;
  position: relative;
}
.title-container .port_r{
  width: 65px;
  height: 23px;
  padding: 0;
  position: absolute;
  bottom: 8px;
  right: 0;
}
.title-container .port_r *:hover{
  color: orangered;
}

.list-container {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.list-container .list{
  width: 100%;
  height: 340px;
  position: relative;
  overflow: hidden; 
}

.list ul {
  width: 210%;
  height: 340px;
  position: absolute; 
  left: 0px;
  transition: all 0.5s;
}

.list ul li {
  width: 230px; 
  margin-right: 8px;
  float: left;
}

.list ul li:nth-child(6){
  margin: 0px;
}

/* ----------------------- */
/* top style 头部 div 样式 */

.Mi-top{
  display: flex;
  flex-wrap: wrap;
}
.top-menu{
  width: 100%;
  height: 40px;
  padding: 0 15%;
  line-height: 40px;
  background-color: #444;
}

.top-list{
  padding: 0px;
}

.top-list a{
  font-size: 12px;
  color: #aaa;
  /* margin: 4px; */
  transition: all 0.5s;
}

.top-list a:hover{
  color: #fff;
}

.top-list span{
  font-size: 16px;
  color: #333;
}

.top-l{
  float: left;
}

.top-r{
  float: right;
}

#carBtn{
  width: 50px;
  height: 100%;
  background: #444;
  text-align: center;
  font-size: 10px;
  padding-left: 2px;
  color: rgb(91,91,91);
  border: none;
  background: url(../img/other/cart.png) no-repeat center;
  background-size: 50%;
  float: right;
}

#carBtn:hover{
  background-image: url(../img/other/cart-act.png);
  color: #fff;
}

.shop-menu{
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #fff;
  display: flex;
  
  align-items: center;
  margin: 0 auto;
  padding: 0 15%;
}

.logo{
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
}

.logo img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.shop-list{
  width: 600px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto; 
}

.shop-list a{
  display: inline-block;
  font-size: 16px;
  padding-left: 10px;
}

.shop-list a:hover{
  color: orangered;
}

[class^="pro-list"]{
  position: absolute;
  top: 140px;
  left: 50%;
  margin-left: -791px;
  z-index:  1;
  display: none;
  /* transition: all 0.1s; */
}

.shop-list a:hover img{
  display: block;
  z-index:  1;
  /* transition: all 1s; */
}

.search{
  width: 250px;
  height: 50px;
}

.search input{
  float: left;
  width: 200px;
  height: 50px;
  padding: 0 16px;
  border: 1.5px solid #ddd;
  transition: all 0.5s;
}

.search input:hover, .sch-button{
  border-color: orangered;
}
.search .sch-button{
  float: left;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1.5px solid #ddd;
  border-left: none;
  line-height: 50px;
  text-align: center;
  background: url(../img/other/search.png) no-repeat center;
  background-size: 50%;
  transition: all 0.5s;
}

.sch-button:hover{
  background-image: url(../img/other/search-act.png);
  background-color: orangered;
  border-color: orangered;
  color: #fff;
}

/* banner style banner div 样式 */

.Mi-banner{
  width: 100%;
  height: 1070px;
  padding: 0 15%;
}

.swiper-container{
  width: 100%;
  height: 450px;
  margin: 0 auto;
  background-color: red;
  position: relative;
}

#swiper{
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.swiper-btn{
  width: 41px;
  height: 69px;
  background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -84px 50% no-repeat;
  /* background-size: 50%; */
  border: none;
  position: absolute;
  margin-left: 20%;
  top: 50%;
  margin-top: -35px;
}

.swiper-btn:hover{
  background-position-x: 0;
  /* background: rgba(0,0,0,0.5); */
}
.btn_R{  
  background: url(https://i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png) -125px 50% no-repeat;
  /* background-size: 50%; */
  right: 0px;
}

.btn_R:hover{
  background-position-x: -42px;
}

.dots{
  width: 200px;
  height: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.dots span{
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  margin: 8px;
  border: 4px solid rgba(200,200,200,0.5);
  transition: all 0.5s;
}

.light{
  background: rgba(255,255,255,0.5) !important;
  border-color: rgba(255,255,255,0.3) !important;
}

.swiper-box{
  width: 500%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0%;
  transition: all 0.5s;
}

.swiper-item{
  width: 20%;
  height: 100%;
  float: left;
}

.left_list{
  width: 20%;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.left_list ul{
  width: 100%;
  height: 450px;
  padding: 25px 0;
  line-height: 40px;
  position: relative;
}

.left_list ul li{
  width: 100%;
  height: 40px;
  padding: 0 16px 0 25px;
  color: #fff;
}

.left_list ul li div{
  position: absolute; 
  top: 0;
  left: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 0.1s;
}

.left_list ul li:hover div{
  opacity: 1;
  z-index: 1;
}

.left_list ul li div img{
  height: 450px;
}

.left_list ul li:hover{
  background-color: orangered;
}


.left_list ul li::after{
  content: '>';
  color: #eee;
  font-weight: bold; 
  float: right;
}

.event-container {
  width: 100%;  
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-item{
  width: 27%;
  height: 200px;
}

.event-item img{
  width: 100%;
  height: 100%;
}

.service{
  width: 234px !important;
  margin-left: 0;
}

.port-r{
  width: 62px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 20px;
  background: #fff;
}
.turnbtn{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #eee;
  transition: all 0.5s;
}

.turnbtn:hover{
  border: 1.5px solid #666;
  border-radius: 2px;
}

.btn_l{
  float: left;
  background: url(../img/other/back.png) no-repeat 50%;
  background-size: 100%;
}

.btn_l:hover{
  background: url(../img/other/back-act.png) no-repeat 50%;
  background-size: 100%;
}

.btn_r{
  float: right;
  background: url(../img/other/back.png) no-repeat 50%;
  background-size: 100%;
  transform: rotate(180deg);
}

.btn_r:hover{ 
  background: url(../img/other/back-act.png) no-repeat 50%;
  background-size: 100%;
}
/* content style 内容 div 样式 */

.Mi-content{
  width: 100%;  
  padding: 0 15%;
  /* height: 6800px; */
  background-color: #fafafafa;
}

.pro-items{
  width: 100%;
  height: 675px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.col{
  width: 19%;
  height: 615px;
  margin-right: 1.25%;
  padding: 0px;
  float: left;
  position: relative;
}

.col:last-child{
  margin-right: 0;
}

.col div{
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  background-color: #eee; 
  position: relative;
  top: 0;
  left: 0;
  transition: 0.8s;
}

.col div:hover{
  top:-8px;
  box-shadow: 0px 0px 10px #aaa;
}

.col .lg{
  height: 615px;
}

.col .sm{
  height: 145px;
}

.pro-items-2{
  width: 100%;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.item{
  width: 24%;
  height: 420px;
  float: left;
  margin-right: 1.333%;
  background-color: black;
}

.item:last-child{
  margin-right: 0;
}


/* footer style 页脚 div 样式 */

.Mi-footer{
  width: 100%;
  height: 450px;
  padding: 0 15%;
}

.afs-container{
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 27.5px 0;
  border-bottom: 1px solid #ccc;
}

.afs-container a{
  display: block;
  width: 20%;
  height: 25px;
  float: left;
  /* font-size: 25px; */
  text-align: center;
  border-left: 1px solid #ccc;
}

.afs-container a:first-child{
  border-left: none;
}

.afs-container a:hover{
  color: orange;
}

.service-container{
  width: 100%;
  height: 190px;
  margin: 0 auto;
  padding: 40px 0;
  /* background-color: #aaa; */
}

.problem-tab{
  width: 80%;
  height: 110px;
  text-align: center;
  float: left;
}

.problem-tab ul{
  width: 16.666666%;
  height: 110px;
  float: left;
}

.problem-tab ul li:first-child{
  height: 35px;
  font-size: 16px;
  font-weight: normal;
}

.problem-tab ul li{
  width: 160px;
  height: 25px;
  color: #666;
  font-size: 14px;
}

.problem-tab ul li a{
  color: #666;
}

.problem-tab ul li a:hover{
  color: orange;
}

.phone_call{
  width: 20%;
  height: 110px;
  border-left: 1px solid #ccc;
  float: right;
  text-align: center;
}

.phone_call p{
  font-size: 18px;
  color: orangered;
}

.phone_call span{
  color: #666;
  font-size: 14px;
}

.phone_call .call{
  width: 100px;
  margin: 0 auto;
  display: block;
  padding: 6px 20px;
  font-size: 14px;
  border: 1px solid orangered;
}